.block__heading {
	margin-bottom: 230px;

	@include mediaLaptopmini {
		font-size: 36px;
	}

	@include mediaTable {
		font-size: 22px;
		margin-bottom: 40px;
	}
}

.swiper {
	max-width: 1920px;
	height: auto;
}

.swiper-slide {
	position: relative;
	&::before {
		content: '';
		width: 100%;
		height: 100%;
		background-color: rgba(36, 33, 33, 0.5);
		position: absolute;
		top: 0;
		left: 0;
	}
}

.swiper__img {
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.block__content {
	position: absolute;
	width: 100%;
	padding: 320px 0 335px 960px;

	@include mediaLaptop {
		padding: 240px 0 335px 730px;
	}

	@include mediaLaptopmini {
		padding: 170px 0 335px 515px;
	}

	@include mediaTable {
		display: none;
	}
}

.block__title {
	max-width: 600px;
	font-weight: 400;
	font-size: 48px;
	line-height: 1.17;
	letter-spacing: 0.6px;
	text-transform: uppercase;
	color: $white;

	@include mediaLaptopmini {
		font-size: 36px;
	}
}

.block__subtitle {
	font-weight: 300;
	font-size: 14px;
	line-height: 1.29;
	letter-spacing: 0.6px;
	color: $white;
}

.swiper-pagination-bullet {
	width: 15px;
	height: 15px;
	background-color: $white;

	@include mediaTable {
		width: 5px;
		height: 5px;
	}
}

.swiper-pagination-bullet-active {
	background-color: $pantone;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
	bottom: var(--swiper-pagination-bottom, 70px);

	@include mediaTable {
		bottom: var(--swiper-pagination-bottom, 5px);
	}
}
